<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BieFeNg-{% block title %}{% endblock %}</title>
</head>
<body>
<div style="margin-top: 100px">
    <div style="max-width: 70%;margin: 0px auto">
        {% block header %}
        {% endblock %}
        <div>
            {% block main %}
            {% endblock %}
            {% block left %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>

<style>
    .home-list-item :hover {
        background-color: aliceblue;
    }
</style>